/* style.css */
h1 {
  text-align:center;
  font-size: 3em;
  margin-top: 32px;
  color: firebrick;
}
.message {
  text-align:center;
  color:magenta;
  font-size:14pt;
}
.form_row {
  padding-top:10px;
  padding-bottom:7px;
}
.menu_bar {
  text-align:center;
  padding:4px;
  border: silver;
  background-color: gainsboro;
}

input[type="button"] {
  border-radius:4px;
  background-color: paleturquoise;
  height: 32px;
}
input[type="submit"] {
  border-radius:4px;
  background-color: lime;
  height: 32px;
}
input[type="text"] {
  border-radius:4px;
  height: 32px;
}

body {
  margin-left, margin-right: 5%;
}

a:link, a:visited {
  color: seagreen;
  text-decoration: none;
}

